/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Montserrat', sans-serif;
    background:#050505;
}

/* NAVBAR */
.navbar{
    background-color:#01172f;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 10px rgba(0,0,0,0.3);
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    cursor: pointer;
    transition: opacity .2s ease;
}

.logo:hover{
    opacity: .85;
}

.logo:link,
.logo:visited,
.logo:hover,
.logo:active{
    text-decoration: none;
    color: inherit;
}

.logo img{
    height:55px;
}

.logo-text h1{
    color:#ffffff;
    font-size:1.2em;
    font-weight:900;
    letter-spacing:1px;
    text-decoration:none;
}

.logo-text p{
    color:#d1d1d1;
    font-size:.8em;
    font-style:italic;
    text-decoration:none;
}
/* MENU */
nav ul.menu{
    list-style:none;
    display:flex;
    align-items:center;
    gap:25px;
}

nav ul.menu li a{
    color:#fff;
    text-decoration:none;
    font-weight:600;
}

nav ul.menu li a:hover{
    color:#00bfff;
}
/* FORM CONTACTO */
.section-title{
    text-align:center;
    margin-top:120px;
    color:white;
}
.section-title p{
    color:#999;
    letter-spacing:3px;
}

.section-title h2{
    font-size:40px;
    margin-top:10px;
}

form{
    max-width:700px;
    margin:60px auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

input, textarea{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#111;
    color:rgba(255, 255, 255, 0.847);
}

textarea{
    min-height:160px;
}
textarea{
    resize: none;
}

button{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#00bfff;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:rgb(209, 209, 209);
    color:rgb(88, 88, 88);
}

/* FOOTER */
footer{
    text-align:center;
    padding:40px;
    color:white;
}
nav ul.menu li a:hover,
nav ul.menu li a.activo{
    color:#00bfff;
}
